.btn {
  justify-self: center;
  margin-top: -3rem;
  margin-bottom: var(--gap-4);
  width: 16rem;
  background: var(--white);
  padding: var(--gap-3);
  border: 1px solid var(--rose-400);
  border-radius: var(--gap-7);
  display: flex;
  gap: var(--gap-2);
  align-items: center;
  justify-content: center;
  font-family: "Red Hat Text", sans-serif;
  color: var(--rose-900) !important;
  transition: all 0.2s;
}

.btn:hover {
  cursor: pointer;
  color: var(--red);
  border: 1px solid var(--red);
  transform: translateY(-0.5rem);
}
